# Justin Albano
# May 29, 2013
# Oceans7 Software
# EagleSwag Android Mobile App
#
# Configuration parameters for SQLite

#-------------------------------------------------------------------------------
# Retrieve Questions Strategy
#-------------------------------------------------------------------------------

# Retrieve Questions Strategy Class Name
# ======================================
# The class name of the retrieve questions strategy to use for the 
# RetrieveQuestionsStrategyFactory. This class name must be fully qualified, 
# containing the package name and the class name for the class

retrieveQuestionsStrategy.classname=com.oceans7.mobile.eagleswag.persistence.sqlite.LfuRetrieveQuestionsStrategy